.heroTitle
    position: absolute
    color: rgba(67, 56, 113, 0.801)
    
.App
    display: flex
    width: 77rem
    height: 45rem
    margin-top: 7.1rem
    margin-bottom: min(5rem)

form
    color: white
    background: rgb(67, 56, 113)
    height: 100%
    width: 65%

    .question
        font-family: playfair
        font-weight: 300
        font-size: 2rem

.answers
    color: rgb(129, 188, 166)
    background: white
    height: 100%
    width: 35%